@model Library.Models.ViewModel.BorrowBook_VM
@{
    ViewBag.Title = "借閱紀錄";
}

<div class="content-area-header">
    <div class="content-title">
        借閱紀錄
    </div>
</div>

<div class="content-area-box">
    <div class="result-area mb-2">
        <table class="table table-light table-striped table-hover align-middle w-100" id="Books" data-height="400px" data-loadingoff="true">
            <thead>
                <tr>
                    <th class="no-sort"></th>
                    <th>國際標準書號</th>
                    <th>書名</th>
                    <th>借出日期時間</th>
                    <th>歸還日期時間</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.BookList.Count; i++)
                {
                    <tr class="dt-body-center">
                        <td><button type="button" class="btnDetail btn btn-outline-success btn-sm">詳細資料</button></td>
                        <td class="dt-body-center">@Html.DisplayFor(m => Model.BookList[i].ISBN)</td>
                        <td class="dt-body-center">@Html.DisplayFor(m => Model.BookList[i].Name)</td>
                        <td class="dt-body-center">@Html.DisplayFor(m => Model.BookList[i].BorrowingTime)</td>
                        <td class="dt-body-center">@Html.DisplayFor(m => Model.BookList[i].ReturnTime)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section script{
    <script>
        $(document).ready(function () {
            InitDataTables("Books");
        })
    </script>
}